html{
                scroll-behavior: smooth;
            }
            body{
                margin:0;
            }
            .nav{
                display: flex;
            }
            nav div{
                text-align:center;
            }
            ul{
                list-style-type:none;
                margin:0;
                padding:0;
                position: sticky;
                overflow: hidden;
            }
            li{
                display:block;
                float:left;
            }
            li a{
                border:2px solid grey;
                border-radius:5px;
                text-decoration: none;
                padding:5px 5px;
                margin:5px 5px;
                display:inline-block;
                position:relative;
                color:white;
                background-color: rosybrown;
            }
            li a:hover{
                background-color: white;
                color: rosybrown;
            }
            .img1{
               
                border-radius: 50%;
                border:1px solid white;
                background-color: #553275;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            .sec1{
                background-color: linear-gradient(to bottom, #33ccff 0%, #66ff66 100%);
            }
            .fset{
                margin-top: 100px;
            }
            .intro{
                border:2px solid black;
                color:#297487;
                background-color: #632255;
                border-radius: 5px;
            }
            #bg1{
                background-color: burlywood;
                margin-top:0;
            }
            .contacts{
                text-align: center;
                
            }
            .form{
                text-align: center;
                font-size: 30px;
                border:2px solid black;
                margin-left:500px;
                width:400px;
                display: block;
                box-shadow: 10px 10px 5px black;
                background-color: blanchedalmond;
            }
            .input{
                width:150px;
                height:30px;
            }
            .input:hover{
                outline:2px inset grey;
            }
            .logo{
                width:50px;
                height:50px;
                border-radius: 5px;
                margin-top: 20px;
            }
            #link{
                display:block;
            }
            footer div{
                text-align: center;
                background-color: #0c2b5c;
